@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... rest of your css ... */


@import 'tailwindcss';
/* vendors css will be added here */

@import '../styles/variables.css';
@import '../styles/common.css';
@import '../styles/base.css';
@import '../styles/button.css';
@import '../styles/badge.css';
@import '../styles/header.css';
@import '../styles/custom-swiper.css';
@import '../styles/number-animation.css';
@import '../styles/lenis.css';

@custom-variant dark (&:where(.dark, .dark *));
